*{
	margin:0;
	padding: 0;
}
@font-face {
    font-family: Helvetica Neue;
    src: url(font/helveticaneuecyr-light.otf);
   }
body{
  background:url(img/fon1.jpg);
        background-repeat:no-repeat ;
        position: relative;
        background-size: 100%;
}
header{
  background-color: #085292;
  height: 35px;
}
header li{
display: inline-block;
height: 35px;
padding-left: 10px;
padding-right:10px;


}
nav {
	margin-left:800px;
    width: 763px;
    height: 35px;
    text-align: center;

}
#un{
height: 35px;
border-bottom: 3px solid #4affff;
}
nav li{
	 font-family: Helvetica Neue,Tahoma;
	font-size: 15px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 35px;
	}
nav a{
	color: #60b5ed;
	text-decoration: none;
}
.f1{
    background-color: #60b5ed;
	color: white;
}
.f2{
	background: linear-gradient(to top, #085392, #60b5ed);
    color: white;
}
.f3{
	margin-right: 25px;
	border-right: 2px solid #56a2dc;
}

#conteiner{
	width:563px;
	height:615px;
	
	text-align: center;
	margin-left:auto;
	margin-right:auto;
	margin-top: 225px;
	
   }
   #fon{
   	background-color: rgba(0,0,0,0.5);
   	width:564px;
	height:616px;
	text-align: center;
	margin-left:auto;
	margin-right:auto;
	margin-top: 225px;
   }
   #head{
   	width:563px;
   	height:61px;
   	text-align:center;
   	border-bottom: 2px solid #b5bda8;
   	color: white;
    font-family: Helvetica Neue,Tahoma;
    font-size: 24px;
   font-weight: 400;
   line-height: 16px;
    }
    #father{
    	width:563px;
	    height:502px;
    }
   #wrap{
padding-top: 20px;
   }
   #wrap2{
   	margin-top: 35px;
   }
   .wrap3{
width: 276px; 
height:25px;
padding-top: 15px;
text-align: center;
margin-left:144px;
color: #999;
font-family: Helvetica Neue,Tahoma;
font-size: 14px;
font-weight: 400;
line-height: 16px;
overflow: hidden;
   }
   p {
    position: relative;
    overflow: hidden;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
  }
  p > span {
    display: inline-block;
    margin: 0 .4em;
  }
  p > span:before,
  p > span:after {
    content: '';
    position: absolute;
    width: 100%;
    border-top: 3px solid #666666;
    box-shadow: 0 1px 0 black;
    margin-top: .6em;
  }
  p > span:before {
    margin-left: -102%;
  }
  p > span:after {
    margin-left: 2%;
  }
  input{
  	width: 279px; 
  	height: 35px;
  	margin-top:  19px;
  	color: #cccccc;
   font-family:Helvetica Neue, Tahoma;
   font-size: 14px;
   font-weight: 400;
   line-height: 16px;
   background-color: #101010;
   box-shadow: 0 1px 0 #4b4b4b;
   text-indent: 15px;
   border: none;
     }

     input:hover{
background-image: linear-gradient(to top, #1b5288 0%, #1b5288 100%);
box-shadow: 0 1px 0 #4b4b4b, inset 0 2px 5px rgba(29, 26, 22, 0.2), 0 0 9px rgba(47, 123, 197, 0.77), inset 0 0 2px rgba(0, 0, 0, 0.1);
     }
     .wrap6{
    width: 279px; 
  	height: 35px;
  	text-align: center;
    margin-left:120px; 
    color: #ccc;
    font-family:Helvetica Neue, Tahoma;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: 20px;
  	}
     #checkbox{
     	width: 40px;
     	height: 5px;
     }
     .wrap7{
     	position: absolute;
     	width: 323px;
     	height: 36px;
     	color: #ccc;
        font-family:Helvetica Neue, Tahoma;
        font-size: 11px;
        font-weight: 400;
        line-height: 16px;
        text-align:center;
        margin-left: 125px;
        margin-top: 30px;
       }
#button{
color: white;
font-family:Helvetica Neue, Tahoma;
font-size: 14px;
font-weight: 400;
line-height: 16px;
border:none;
border-radius: 5px;
 background: linear-gradient(to bottom, #67c6e6, #2e7ac4);
}
i{
  color: white;
  margin-right: 10px;
  }














